.alert{
  position: absolute;
  width: 100%;
  top: 0;
  opacity: .7;
}
header{
  .navbar{
    height: 15vh;
    margin: 0;
    position: absolute;
    width: 100%;
    z-index: 99;
  }
  #ingredient_filter{
    .describer{
      background-color: red;
      color: white;
      line-height: 50px;
      padding: 0 5px;
    }
  }
}
main{
  margin: 0;
  padding: 0;
  #presenter{
    padding-top: 15vh;
    background: transparent asset_url('pizza_diffus.jpg') no-repeat center center;
    background-size: cover;
    .item {
      height: 85vh;
      padding-top: 15vh;
    }
    #finalize{
      position: absolute;
      margin-top: -50px;
    }
    #select{
      .row > div{
        text-align: center;
      }
    }
    #get_size{
      a{
        padding: 4em 0;
        display: block;
        font-size: 24pt;
      }
    }
    #configure{
      .ingredient_list{
        padding-bottom: 2em;
        a{
          padding: 1em .5em;
        }
      }
      ul#purchased_items{
        list-style-type: none;
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 5em;
        padding: 0;
        li{
          display: inline;
          margin: 0 0 0 5px;
          border-right: 1px solid white;
          padding: 1.75em .5em .25em;
          a, p{
            display: inline-block;
            padding: .5em;
          }
          &:last-child{
            border: none;
          }
        }
      }
      a{
        display: block;
      }
    }
    #summary{
      padding-bottom: 3em;
      .final_line{
        font-weight: bold;
        padding: .25em 0;
      }
      .foot_notes{
        padding: 1em 0;
      }
    }
    .carousel-indicators{
      li{
        width: auto;
        text-indent: 0;
        border: none;
        &.locked{
          opacity: .5;
        }
      }
    }
  }
}

#final_message{
  position:absolute;
  top: 40%;
  left: 50%;
  width: 500px;
  margin-left: -250px;
}

form{
  .error{
    color: red;
    input{
      border-color: red;
    }
    small{
      background-color: red;
      color: white;
      padding: 3px;
    }
  }
}
