header{
  .navbar{
    height: 15vh;
    margin: 0;
  }
}
main{
  margin: 0;
  padding: 0;
  #presenter{
    .item {
      height: 85vh;
    }
    #select{
      .row > div{
        text-align: center;
        &.selected{
          background-color: rgba(255,255,255,.5);
        }
      }
    }
    #configure{
      .well{
        padding: 0;
        margin: 0;
        min-height: none;
        background-color: rgba(0,0,0,.5);
        border: none;
        border-radius: 0;
        &.selected{
          background-color: rgba(255,255,255,.125);
        }
      }
      a{
        display: block;
        &.selected{
          background-color: rgba(255,150,0,.25);
        }
      }
    }
    .carousel-indicators{
      li{
        width: auto;
        text-indent: 0;
        border: none;
        &.locked{
          opacity: .5;
        }
      }
    }
  }
}
